// Couleurs principales
$color-primary: #1A1A1A; // Gris très foncé
$color-secondary: #D4AA7D; // Doré
$color-accent: #FF6F00; // Orange vif
$color-background: #121212; // Fond sombre
$color-text-primary: #E0E0E0; // Texte principal clair
$color-text-secondary: #A5A5A5; // Texte secondaire